@font-face {
  font-family: Lato-Hairline;
  src: url("Lato/Lato-Hairline.ttf") format("truetype"),
}

@font-face {
  font-family: Lato-Regular;
  src: url("Lato/Lato-Regular.ttf") format("truetype"),
}


